.section-5 #first {
    opacity: 0;
    scale: 2.4;
    transform: translateX(-25%);
}

.section-5 #second {
    opacity: 0;
    scale: 0.8;
    transform: translate(1%, 2%);
}

.section-5 #third {
    opacity: 0;
    scale: 0.7;
}

.section-5 #forth,
.section-5 #fifth,
.section-5 #six,
.section-5 #seven,
.section-5 #eight {
    opacity: 0;
    scale: 0.7;
}

.section-5 #text-1,
.section-5 #text-2,
.section-5 #text-3,
.section-5 #text-4 {
    opacity: 0;
    scale: 0.6;
    top: -32%;
}
